Repository softeerbootcamp-2nd/H4-TopCariving, pull requests merged in 2023-08, with the labels that each got.

#4 [백엔드] 프로젝트 생성
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/backend/topcariving/TopcarivingApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/backend/topcariving/TopcarivingApplicationTests.java
Labels: backend🍀

#6 [iOS] 프로젝트 생성
  .DS_Store
  iOS/.gitignore
  iOS/TopCariving/.swiftlint.yml
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/TopCariving/TopCariving.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/TopCariving/TopCariving.xcodeproj/project.xcworkspace/xcuserdata/eunno.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/TopCariving/TopCariving.xcodeproj/xcshareddata/xcschemes/TopCariving.xcscheme
  iOS/TopCariving/TopCariving.xcodeproj/xcuserdata/eunno.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/TopCariving/TopCariving/App/AppDelegate.swift
  iOS/TopCariving/TopCariving/App/SceneDelegate.swift
  iOS/TopCariving/TopCariving/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/Contents.json
  iOS/TopCariving/TopCariving/Base.lproj/LaunchScreen.storyboard
  iOS/TopCariving/TopCariving/Info.plist
  iOS/TopCariving/TopCariving/Model/DummyModel.swift
  iOS/TopCariving/TopCariving/Util/DummyUtil.swift
  iOS/TopCariving/TopCariving/View/DummyView.swift
  iOS/TopCariving/TopCariving/ViewController/DummyViewController.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
  iOS/TopCariving/TopCariving/ViewModel/DummyViewModel.swift
  iOS/TopCariving/TopCarivingTests/TopCarivingTests.swift
  iOS/TopCariving/TopCarivingUITests/TopCarivingUITests.swift
  iOS/TopCariving/TopCarivingUITests/TopCarivingUITestsLaunchTests.swift
Labels: iOS🍎

#15 [backend] Github Action 들여쓰기 오류 해결
  .github/workflows/backend.yml
Labels: backend🍀, bugFix🐞

#18 [backend] Github Action Working Directory 추가
  .github/workflows/backend.yml
Labels: backend🍀, bugFix🐞

#19 [backend] Github Action 적용으로 인한 main Branch 최신화
  .github/workflows/backend.yml
Labels: backend🍀, bugFix🐞

#13 [backend] Swagger Config 설정
  backend/.gitignore
  backend/src/main/java/com/backend/topcariving/global/config/SwaggerConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: backend🍀, Swagger🍀

#22 [backend] Trim 선택 및 저장 API 명세서 구현
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/TrimResponseDTO.java
  backend/src/main/java/com/backend/topcariving/global/response/SuccessResponse.java
Labels: backend🍀, Swagger🍀

#25 [frontend] 공통 컴포넌트 작업
  front/src/components/common/Flex.tsx
  front/src/components/common/Text.tsx
  front/src/styles/theme.tsx
Labels: feature✨, frontend☀️

#27 [iOS] 폰트, 컬러, 폴더링
  .DS_Store
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/App/SceneDelegate.swift
  iOS/TopCariving/TopCariving/Global/Font/HyundaiSansHeadKROTFBold.otf
  iOS/TopCariving/TopCariving/Global/Font/HyundaiSansHeadKROTFLight.otf
  iOS/TopCariving/TopCariving/Global/Font/HyundaiSansHeadKROTFMedium.otf
  iOS/TopCariving/TopCariving/Global/Font/HyundaiSansHeadKROTFRegular.otf
  iOS/TopCariving/TopCariving/Global/HyundaiFont.swift
  iOS/TopCariving/TopCariving/Global/UIColor+.swift
  iOS/TopCariving/TopCariving/Global/UIFont+.swift
  iOS/TopCariving/TopCariving/Info.plist
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎

#28 [backend] Trim-Model Read API
  backend/build.gradle
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/OptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/TrimResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/Option.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/OptionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/OptionService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/initDb/data.sql
  backend/src/main/resources/initDb/schema.sql
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceTest.java
Labels: backend🍀, feature✨

#32 [backend] Github Action push 시 진행
  .github/workflows/backend-build-test.yml
  .github/workflows/backend-deploy.yml
Labels: backend🍀, deploy

#35 [backend] 자동차 모델명 한글이름으로 변경
  .github/workflows/backend-deploy.yml
  backend/src/main/resources/initDb/data.sql
Labels: backend🍀, bugFix🐞

#36 [backend] CORS 해결
  backend/src/main/java/com/backend/topcariving/global/config/WebMvcConfig.java
Labels: backend🍀, bugFix🐞

#37 [backend] Swagger Https로 된 주소 Http 로 변경
  backend/src/main/java/com/backend/topcariving/global/config/SwaggerConfig.java
Labels: backend🍀, bugFix🐞

#38 [backend] Image URL 확장자가 없는 오류 수정
  backend/src/main/resources/initDb/data.sql
Labels: backend🍀, bugFix🐞

#47 feat: 내 차 만들기 엔진 선택
  front/src/components/myCar/EngineCard.tsx
  front/src/pages/MyCar/Engine.tsx
  front/src/routes/router.tsx
Labels: feature✨, frontend☀️

#50 [FE] 절대 경로 설정
  front/src/components/common/Button.tsx
  front/src/components/common/CarModel.tsx
  front/src/components/common/Flex.tsx
  front/src/components/common/Text.tsx
  front/src/components/common/index.tsx
  front/src/components/myCar/EngineCard.tsx
  front/src/components/myCar/Footer.tsx
  front/src/components/myCar/Header.tsx
  front/src/components/myCar/NavBar.tsx
  front/src/components/myCar/TrimCard.tsx
  front/src/components/myCar/index.tsx
  front/src/pages/MyCar/Engine.tsx
  front/src/pages/MyCar/Trim.tsx
  front/src/pages/MyCar/index.tsx
  front/src/routes/router.tsx
  front/tsconfig.json
  front/vite.config.ts
Labels: feature✨, frontend☀️

#51 [FE] 내 차 만들기 공통 컴포넌트 동적 세팅
  front/src/components/common/Button.tsx
  front/src/components/myCar/Footer.tsx
  front/src/components/myCar/Header.tsx
  front/src/components/myCar/NavBar.tsx
  front/src/pages/MyCar/index.tsx
  front/src/routes/router.tsx
  front/src/styles/palette.tsx
Labels: feature✨, frontend☀️

#42 [backend] 엔진 선택을 위한 READ API 명세 작성
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/TrimResponseDTO.java
Labels: backend🍀, Swagger🍀

#52 [backend] 트림 관련 API 명세 작성
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/TrimResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceTest.java
Labels: backend🍀, Swagger🍀

#53 [backend] 내 차 만들기 색상 조회, 선택 API 명세서 작성
  backend/src/main/java/com/backend/topcariving/domain/option/controller/ColorController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/ColorBothResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/ColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/tag/dto/TagResponseDTO.java
Labels: backend🍀, Swagger🍀

#54 [backend] 내 차 만들기 - 견적 보기 변경 옵션 업데이트 API 명세서 작성
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/EstimationChangeRequest.java
Labels: backend🍀, Swagger🍀

#55 [backend] 내 차 만들기 - 선택 옵션, H Genuine Accessories, N Performance에 대한 API 명세서 작성
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/BasicOptionDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/OptionRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/SelectionDetailDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/SelectionResponseDTO.java
Labels: backend🍀, Swagger🍀

#56 [backend] 내 차 결과 확인, 견적 요약보기 API 명세 작성
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/ArchivingColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/ArchivingOptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/ArchivingResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/EstimationChangeRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/ModifyOptionResponseDTO.java
Labels: backend🍀, Swagger🍀

#57 [FE] 내 차 만들기 바디타입 & 구동방식 화면
  front/src/components/myCar/Footer.tsx
  front/src/components/myCar/Trim/BodyCard.tsx
  front/src/components/myCar/Trim/EngineCard.tsx
  front/src/components/myCar/Trim/TrimCard.tsx
  front/src/components/myCar/Trim/index.tsx
  front/src/components/myCar/index.tsx
  front/src/interface/index.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/pages/MyCar/Trim/BodyType.tsx
  front/src/pages/MyCar/Trim/Engine.tsx
  front/src/pages/MyCar/Trim/Traction.tsx
  front/src/pages/MyCar/Trim/index.tsx
  front/src/pages/MyCar/index.tsx
  front/src/routes/router.tsx
  front/tsconfig.json
  front/vite.config.ts
Labels: feature✨, frontend☀️

#59 [FE] 정적 화면 반영
  front/src/components/myCar/Footer.tsx
  front/src/components/myCar/Header.tsx
  front/src/components/myCar/NavBar.tsx
  front/src/components/myCar/trim/BodyCard.tsx
  front/src/components/myCar/trim/EngineCard.tsx
  front/src/components/myCar/trim/TrimCard.tsx
  front/src/components/myCar/trim/index.tsx
  front/src/pages/MyCar/Trim/BodyType.tsx
  front/src/pages/MyCar/Trim/Engine.tsx
  front/src/pages/MyCar/Trim/Traction.tsx
  front/src/pages/MyCar/Trim/index.tsx
Labels: feature✨, frontend☀️

#64 [BE] Engine DTO 수정
  backend/src/main/java/com/backend/topcariving/domain/option/controller/ColorController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/archiving/ArchivingColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/archiving/ArchivingOptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/archiving/ArchivingResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/archiving/ModifyOptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/color/ColorBothResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/color/ColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/engine/EngineResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/esitmation/EstimationChangeRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/model/ModelPhotoDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/model/ModelResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/selection/SelectionDetailDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/selection/SelectionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/trim/BasicOptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/trim/OptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceTest.java
Labels: backend🍀, refactor♻️, Swagger🍀

#66 [BE] 로직 작성을 위한 Entity 및 Repository 생성
  backend/src/main/java/com/backend/topcariving/TopcarivingApplication.java
  backend/src/main/java/com/backend/topcariving/domain/archive/entity/CarArchiving.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepository.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/entity/Bookmark.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/repository/BookmarkRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/color/ColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/model/ModelResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/selection/SelectionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/tag/TagResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/CarOption.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/CarOptionTag.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/EngineDetail.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/Tag.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionTagRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/EngineDetailRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/TagRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/main/java/com/backend/topcariving/domain/review/entity/CarReview.java
  backend/src/main/java/com/backend/topcariving/domain/review/entity/TagReview.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/CarReviewRepository.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepository.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceTest.java
Labels: backend🍀, feature✨

#68 [FE] 로그인 화면 구현 & api 연결
  front/index.html
  front/src/assets/images/hyundaiLogo.png
  front/src/components/common/CarModel.tsx
  front/src/components/myCar/NavBar.tsx
  front/src/components/myCar/trim/TrimCard.tsx
  front/src/interface/index.tsx
  front/src/pages/Login/index.tsx
  front/src/pages/MyCar/Trim/index.tsx
  front/src/routes/router.tsx
  front/src/utils/api/apiInstance.tsx
  front/src/utils/api/index.tsx
  front/src/utils/api/myCar/index.tsx
  front/src/utils/index.tsx
  front/tsconfig.json
  front/vite.config.ts
Labels: feature✨, frontend☀️

#71 [FE] 내 차 만들기 옵션 레이아웃 구성
  front/src/assets/images/check.svg
  front/src/assets/images/leftBtn.svg
  front/src/assets/images/rightBtn.svg
  front/src/components/common/Btn.tsx
  front/src/components/common/Button.tsx
  front/src/components/common/OptionCard.tsx
  front/src/components/common/Tag.tsx
  front/src/components/common/index.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/routes/router.tsx
Labels: feature✨, frontend☀️

#73 [iOS] 차량 요약 컨테이너, 토스트뷰 UI
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/Global/UIImage+.swift
  iOS/TopCariving/TopCariving/View/CarSummaryContainer.swift
  iOS/TopCariving/TopCariving/View/FoldableStackView.swift
  iOS/TopCariving/TopCariving/View/FoldableView.swift
  iOS/TopCariving/TopCariving/View/TappableView.swift
  iOS/TopCariving/TopCariving/View/ToastView.swift
Labels: iOS🍎

#75 [iOS] Entity및 DTO 추가 & InfraStructure(Network)추가
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving.xcodeproj/project.xcworkspace/xcuserdata/eunno.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/TopCariving/TopCariving/Data/Domain/Entities/BookMark.swift
  iOS/TopCariving/TopCariving/Data/Domain/Entities/CarArchiving.swift
  iOS/TopCariving/TopCariving/Data/Domain/Entities/CarOption.swift
  iOS/TopCariving/TopCariving/Data/Domain/Entities/CarReview.swift
  iOS/TopCariving/TopCariving/Data/Domain/Entities/ModelPhoto.swift
  iOS/TopCariving/TopCariving/Data/Domain/Entities/MyCar.swift
  iOS/TopCariving/TopCariving/Data/Network/APIEndPoints.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Request/EstimationChangeRequestDTO.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Request/OptionRequestDTO.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/ArchivingColorResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/ArchivingOptionResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/ArchivingResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/BasicOptionResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/ColorBothResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/ColorResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/ModelPhotoResponseDTO.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/ModelResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/ModifyOptionResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/SelectionDetailResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/SelectionResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/TagResponseDTO.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/TrimResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Domain/Entities/Archiving.swift
  iOS/TopCariving/TopCariving/Domain/Entities/ArchivingColor.swift
  iOS/TopCariving/TopCariving/Domain/Entities/ArchivingOption.swift
  iOS/TopCariving/TopCariving/Domain/Entities/BasicOption.swift
  iOS/TopCariving/TopCariving/Domain/Entities/Color.swift
  iOS/TopCariving/TopCariving/Domain/Entities/ColorBoth.swift
  iOS/TopCariving/TopCariving/Domain/Entities/EstimationChange.swift
  iOS/TopCariving/TopCariving/Domain/Entities/Model.swift
  iOS/TopCariving/TopCariving/Domain/Entities/ModelPhoto.swift
  iOS/TopCariving/TopCariving/Domain/Entities/ModifyOption.swift
  iOS/TopCariving/TopCariving/Domain/Entities/Option.swift
  iOS/TopCariving/TopCariving/Domain/Entities/Selection.swift
  iOS/TopCariving/TopCariving/Domain/Entities/SelectionDetail.swift
  iOS/TopCariving/TopCariving/Domain/Entities/Tag.swift
  iOS/TopCariving/TopCariving/Domain/Entities/Trim.swift
  iOS/TopCariving/TopCariving/Info.plist
  iOS/TopCariving/TopCariving/InfraStructure/Network/EndPoint.swift
  iOS/TopCariving/TopCariving/InfraStructure/Network/HTTPClient.swift
  iOS/TopCariving/TopCariving/InfraStructure/Network/HTTPMethod.swift
  iOS/TopCariving/TopCariving/InfraStructure/Network/RequestError.swift
  iOS/TopCariving/TopCariving/ViewController/DummyViewController.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
  iOS/TopCariving/TopCariving/ViewModel/DummyViewModel.swift
  iOS/TopCariving/TopCariving/ViewModel/ViewModelProtocol.swift
Labels: iOS🍎, feature✨

#77 feat: Button 컴포넌트 적용
  front/src/components/common/Btn.tsx
  front/src/components/common/Button.tsx
  front/src/components/common/OptionCard.tsx
  front/src/components/common/index.tsx
  front/src/components/myCar/Footer.tsx
  front/src/pages/Login/index.tsx
Labels: feature✨, frontend☀️

#80 [BE] Model 저장 API 로직 구현
  backend/src/main/java/com/backend/topcariving/domain/archive/entity/CarArchiving.java
  backend/src/main/java/com/backend/topcariving/domain/archive/entity/MyCar.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/initDb/data.sql
  backend/src/main/resources/initDb/schema.sql
Labels: backend🍀, feature✨

#83 [BE] Schema 및 더미 데이터 제작
  backend/src/main/resources/initDb/data.sql
  backend/src/main/resources/initDb/schema.sql
Labels: backend🍀, feature✨

#85 [BE] ColorResponseDTO에 내장 이미지 추가
  backend/src/main/java/com/backend/topcariving/domain/option/controller/ColorController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/color/BothColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/color/ExteriorColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/color/InteriorColorResponseDTO.java
Labels: backend🍀, feature✨

#86 [BE] 카테고리 DTO 변경
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/trim/BasicOptionResponseDTO.java
Labels: backend🍀, bugFix🐞

#91 [FE] 색상 선택 페이지 UI & AlertModal
  .github/pull_request_template.md
  README.md
  front/src/App.tsx
  front/src/assets/images/blueCheck.svg
  front/src/components/common/AlertModal/AlertModalWrapper.tsx
  front/src/components/common/AlertModal/index.tsx
  front/src/components/common/Button.tsx
  front/src/components/common/CarModel.tsx
  front/src/components/common/index.tsx
  front/src/components/myCar/Footer.tsx
  front/src/components/myCar/trim/BodyCard.tsx
  front/src/components/myCar/trim/EngineCard.tsx
  front/src/components/myCar/trim/TrimCard.tsx
  front/src/contexts/AlertContext.tsx
  front/src/contexts/index.tsx
  front/src/interface/index.tsx
  front/src/pages/Error/index.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/Trim/BodyType.tsx
  front/src/pages/MyCar/Trim/Engine.tsx
  front/src/pages/MyCar/Trim/Traction.tsx
  front/src/pages/MyCar/Trim/index.tsx
  front/src/pages/MyCar/index.tsx
  front/src/routes/router.tsx
  front/src/styles/palette.tsx
  front/tsconfig.json
  front/vite.config.ts
Labels: feature✨, frontend☀️

#93 [BE] 오타 수정
  backend/src/main/resources/initDb/data.sql
Labels: backend🍀, bugFix🐞

#94 [FE] 내 차 만들기 옵션 선택 페이지 구성
  front/src/assets/images/Vector 478.svg
  front/src/components/common/Button.tsx
  front/src/components/common/OptionCard.tsx
  front/src/components/myCar/trim/DimInfo.tsx
  front/src/components/myCar/trim/OptionCard.tsx
  front/src/components/myCar/trim/OptionInfoCard.tsx
  front/src/components/myCar/trim/index.tsx
  front/src/interface/index.tsx
  front/src/pages/MyCar/Option/index.tsx
Labels: feature✨, frontend☀️

#96 [BE] Engine API 개발
  backend/src/main/java/com/backend/topcariving/domain/archive/exception/InvalidAuthorityException.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/engine/EngineResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/exception/InvalidCarOptionIdException.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/EngineDetailRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/main/java/com/backend/topcariving/global/exception/GlobalExceptionHandler.java
  backend/src/main/resources/initDb/data.sql
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceTest.java
Labels: backend🍀, feature✨

#99 [BE] Github Action 백엔드 연동
  .github/workflows/backend-deploy.yml
Labels: backend🍀, deploy

#105 [BE] Slack 마크다운 버그픽스
  .github/workflows/backend-deploy.yml
Labels: backend🍀, bugFix🐞

#113 [BE] Request 시에 Param이 아닌 Body로 요청하도록 변경
  backend/src/main/java/com/backend/topcariving/domain/option/controller/ColorController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/OptionRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/request/SelectOptionRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/request/SelectOptionsRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/request/color/BothColorRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/request/esitmation/EstimationChangeRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/archiving/ArchivingColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/archiving/ArchivingOptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/archiving/ArchivingResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/archiving/ModifyOptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/color/BothColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/color/ExteriorColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/color/InteriorColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/engine/EngineResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/model/ModelPhotoDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/model/ModelResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/selection/SelectionDetailDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/selection/SelectionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/tag/TagResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/trim/BasicOptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/trim/OptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceTest.java
Labels: backend🍀, request🐧

#102 [iOS] 뷰 컴포넌트 - 상단 프로그래스바, 고정 하단 영역, 고정 상단바
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressBodyType.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressBodyType.imageset/ProgressBodyType 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressBodyType.imageset/ProgressBodyType 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressBodyType.imageset/ProgressBodyType.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressDrivingMethod.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressDrivingMethod.imageset/ProgressDrivingMethod 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressDrivingMethod.imageset/ProgressDrivingMethod 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressDrivingMethod.imageset/ProgressDrivingMethod.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressEngine.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressEngine.imageset/ProgressEngine 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressEngine.imageset/ProgressEngine 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressEngine.imageset/ProgressEngine.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressExteriorColor.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressExteriorColor.imageset/ProgressExteriorColor 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressExteriorColor.imageset/ProgressExteriorColor 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressExteriorColor.imageset/ProgressExteriorColor.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressHGenuineAccessories.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressHGenuineAccessories.imageset/ProgressHGenuineAccessories 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressHGenuineAccessories.imageset/ProgressHGenuineAccessories 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressHGenuineAccessories.imageset/ProgressHGenuineAccessories.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressInteriorColor.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressInteriorColor.imageset/ProgressInteriorColor 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressInteriorColor.imageset/ProgressInteriorColor 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressInteriorColor.imageset/ProgressInteriorColor.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressNPerformance.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressNPerformance.imageset/ProgressNPerformance 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressNPerformance.imageset/ProgressNPerformance 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressNPerformance.imageset/ProgressNPerformance.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressSelectOptions.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressSelectOptions.imageset/ProgressSelectOptions 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressSelectOptions.imageset/ProgressSelectOptions 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressSelectOptions.imageset/ProgressSelectOptions.png
  iOS/TopCariving/TopCariving/Assets.xcassets/TopArchivingButton.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/TopArchivingButton.imageset/TopArchivingButton 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/TopArchivingButton.imageset/TopArchivingButton 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/TopArchivingButton.imageset/TopArchivingButton.png
  iOS/TopCariving/TopCariving/Global/HyundaiFont.swift
  iOS/TopCariving/TopCariving/Global/UIFont+.swift
  iOS/TopCariving/TopCariving/Global/UIImage+.swift
  iOS/TopCariving/TopCariving/Global/UILabel+.swift
  iOS/TopCariving/TopCariving/View/CTAButton.swift
  iOS/TopCariving/TopCariving/View/CarSummaryContainer.swift
  iOS/TopCariving/TopCariving/View/DummyView.swift
  iOS/TopCariving/TopCariving/View/FoldableStackView.swift
  iOS/TopCariving/TopCariving/View/FoldableView.swift
  iOS/TopCariving/TopCariving/View/MyCarFooterView.swift
  iOS/TopCariving/TopCariving/View/TappableView.swift
  iOS/TopCariving/TopCariving/View/ToastView.swift
  iOS/TopCariving/TopCariving/ViewController/BaseMyCarViewController.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎

#115 [FE] 기본 포함 품목 옵션 선택시 모달 생성
  front/src/components/common/AlertModal/OptionModal.tsx
  front/src/components/common/AlertModal/index.tsx
  front/src/components/myCar/trim/OptionCard.tsx
  front/src/pages/MyCar/Option/index.tsx
Labels: feature✨, frontend☀️

#117 [BE] 바디타입 API 개발
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/trim/OptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/CategoryDetail.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceTest.java
Labels: backend🍀, feature✨

#116 [BE] 내 차 만들기 최종 결과 조회 API
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/archiving/ArchivingColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/archiving/ArchivingOptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/archiving/ArchivingResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/exception/InvalidArchivingIdException.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/EstimationService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/main/java/com/backend/topcariving/global/exception/GlobalExceptionHandler.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceTest.java
Labels: backend🍀, feature✨

#119 [BE] 구동방식 API 개발
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceTest.java
Labels: backend🍀, feature✨

#121 [FE] 내 차 만들기 Footer 전역 상태 반영 & apiInstance POST 추가
  front/src/App.tsx
  front/src/components/myCar/Footer.tsx
  front/src/components/myCar/trim/EngineCard.tsx
  front/src/contexts/AlertContext.tsx
  front/src/contexts/MyCarContext.tsx
  front/src/contexts/index.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/pages/MyCar/Trim/BodyType.tsx
  front/src/pages/MyCar/Trim/Engine.tsx
  front/src/pages/MyCar/Trim/Traction.tsx
  front/src/pages/MyCar/Trim/index.tsx
  front/src/pages/MyCar/index.tsx
  front/src/utils/api/apiInstance.tsx
Labels: feature✨, frontend☀️

#125 [iOS] combine cocoa 구현
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving.xcodeproj/project.xcworkspace/xcuserdata/eunno.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/TopCariving/TopCariving/Global/CombineControlEvent.swift
  iOS/TopCariving/TopCariving/Global/UIButton+.swift
  iOS/TopCariving/TopCariving/Global/UIControl+.swift
  iOS/TopCariving/TopCariving/Global/UITapGestureRecognizer+.swift
  iOS/TopCariving/TopCariving/Global/UIView+.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎, feature✨

#131 [BE] Github action PR title에서 Commit Message로 변경
  .github/workflows/backend-deploy.yml
Labels: backend🍀, bugFix🐞

#133 [FE] 내 차 만들기 색상 선택 페이지 로직
  front/src/components/myCar/Footer.tsx
  front/src/components/myCar/Header.tsx
  front/src/components/myCar/complete/CompleteOptionCard.tsx
  front/src/components/myCar/complete/Footer.tsx
  front/src/components/myCar/complete/Information.tsx
  front/src/components/myCar/trim/OptionCard.tsx
  front/src/components/myCar/trim/OptionInfoCard.tsx
  front/src/contexts/MyCarContext.tsx
  front/src/pages/MyCar/Color/colorData.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/Color/interface.tsx
  front/src/pages/MyCar/Complete/index.tsx
  front/src/pages/MyCar/Option/dummyOp.tsx
  front/src/pages/MyCar/Option/index.tsx
Labels: feature✨, frontend☀️

#135 [FE] 내 차 만들기 트림 페이지 API 연결
  front/src/components/myCar/Footer.tsx
  front/src/pages/MyCar/Trim/BodyType.tsx
  front/src/pages/MyCar/Trim/Engine.tsx
  front/src/pages/MyCar/Trim/Traction.tsx
  front/src/pages/MyCar/Trim/index.tsx
  front/src/routes/router.tsx
  front/src/utils/api/myCar/index.tsx
Labels: feature✨, frontend☀️

#136 [FE] 공통 Typo, Button 수정
  front/src/assets/font/HyundaiSansHeadKROTFBold.woff2
  front/src/assets/font/HyundaiSansHeadKROTFRegular.woff2
  front/src/components/common/AlertModal/OptionModal.tsx
  front/src/components/common/AlertModal/index.tsx
  front/src/components/common/Button.tsx
  front/src/components/myCar/Footer.tsx
  front/src/components/myCar/Header.tsx
  front/src/components/myCar/complete/CompleteButton.tsx
  front/src/components/myCar/complete/CompletedMessage.tsx
  front/src/components/myCar/complete/Footer.tsx
  front/src/index.css
  front/src/pages/Login/index.tsx
  front/src/styles/typo.tsx
Labels: feature✨, frontend☀️

#137 [BE] 선택 옵션 - 상세 품목 선택 API 개발
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/request/SelectOptionsRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/selection/SelectionDetailDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/selection/SelectionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/trim/BasicOptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/trim/OptionResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/CategoryDetail.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/OptionService.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceTest.java
Labels: backend🍀, feature✨

#138 [BE] 외장 색상 선택 저장 API 작성
  backend/src/main/java/com/backend/topcariving/domain/option/controller/ColorController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/projection/tag/TagRank.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/color/ExteriorColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/tag/TagResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/ColorService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/EstimationService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepository.java
  backend/src/test/java/com/backend/topcariving/config/TestSupport.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/ColorServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceTest.java
  backend/src/test/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryTest.java
Labels: backend🍀, feature✨

#140 [BE] Spring Data JDBC -> Spring JDBC Template
  backend/build.gradle
  backend/src/main/java/com/backend/topcariving/TopcarivingApplication.java
  backend/src/main/java/com/backend/topcariving/domain/archive/entity/CarArchiving.java
  backend/src/main/java/com/backend/topcariving/domain/archive/entity/MyCar.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/entity/Bookmark.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/repository/BookmarkRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/CarOption.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/CarOptionTag.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/EngineDetail.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/ModelPhoto.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/Tag.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionTagRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/EngineDetailRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/EngineDetailRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/ModelPhotoRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/ModelPhotoRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/TagRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/OptionService.java
  backend/src/main/java/com/backend/topcariving/domain/review/entity/CarReview.java
  backend/src/main/java/com/backend/topcariving/domain/review/entity/TagReview.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/CarReviewRepository.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepository.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryImpl.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceTest.java
  backend/src/test/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryTest.java
Labels: backend🍀, refactor♻️

#128 [iOS] combine coco extension 생성
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving.xcodeproj/project.xcworkspace/xcuserdata/eunno.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/TopCariving/TopCariving/Global/CombineControlEvent.swift
  iOS/TopCariving/TopCariving/Global/CombineGestureEvent.swift
  iOS/TopCariving/TopCariving/Global/UIButton+.swift
  iOS/TopCariving/TopCariving/Global/UIControl+.swift
  iOS/TopCariving/TopCariving/Global/UIGestureRecognizer+.swift
  iOS/TopCariving/TopCariving/Global/UIView+.swift
  iOS/TopCariving/TopCariving/View/RotatableOptionImageView.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎, feature✨

#144 [FE] 아카이브 레이아웃 구성
  front/src/assets/images/HyundaiBlack.svg
  front/src/assets/images/Vector 484.svg
  front/src/assets/images/bookmark.svg
  front/src/assets/images/car.svg
  front/src/assets/images/cargoBlack.svg
  front/src/assets/images/navbarLeft.svg
  front/src/components/archive/ArchiveHeader.tsx
  front/src/components/archive/ArchiveNavbar.tsx
  front/src/components/archive/ArchiveOptionDetails.tsx
  front/src/components/archive/ArchiveReview.tsx
  front/src/components/archive/ArchiveShortInfo.tsx
  front/src/components/archive/archiveOptionCard/OptionCard.tsx
  front/src/components/archive/index.tsx
  front/src/pages/Archive/archive.tsx
  front/src/routes/router.tsx
  front/src/styles/typo.tsx
Labels: feature✨, frontend☀️

#143 [FE] 견적요약보기 모달 작업
  front/src/assets/images/close.svg
  front/src/components/common/AlertModal/index.tsx
  front/src/components/myCar/Footer.tsx
  front/src/components/myCar/option/DetailOptionModal.tsx
  front/src/components/myCar/option/DimInfo.tsx
  front/src/components/myCar/option/OptionCard.tsx
  front/src/components/myCar/option/OptionInfoCard.tsx
  front/src/components/myCar/option/OptionModal.tsx
  front/src/components/myCar/option/index.tsx
  front/src/components/myCar/trim/index.tsx
  front/src/contexts/MyCarContext.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/pages/MyCar/Trim/BodyType.tsx
  front/src/pages/MyCar/Trim/Engine.tsx
  front/src/pages/MyCar/Trim/Traction.tsx
  front/src/pages/MyCar/Trim/index.tsx
Labels: feature✨, frontend☀️

#145 [BE] 선택 옵션 - 상세 품목 조회 시 태그 후기 조회 기능 추가
  backend/src/main/java/com/backend/topcariving/domain/option/service/OptionService.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepository.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryImpl.java
  backend/src/main/resources/initDb/data.sql
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
Labels: backend🍀, feature✨

#147 [BE] 외장, 외장/내장 색상 API 작성
  backend/src/main/java/com/backend/topcariving/domain/option/controller/ColorController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/color/BothColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/color/InteriorColorResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/ColorService.java
  backend/src/main/resources/initDb/data.sql
  backend/src/test/java/com/backend/topcariving/domain/option/service/ColorServiceIntegralTest.java
Labels: backend🍀, feature✨

#150 [BE] H Genuine Accessories API 개발
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/CategoryDetail.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/OptionService.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceTest.java
Labels: backend🍀, feature✨

#152 [BE] N Performance API 개발
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/CategoryDetail.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/OptionService.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
Labels: backend🍀, feature✨

#154 [FE] 아카이빙 메인 페이지 UI 작업
  front/src/components/archive/detail/ArchiveOptionDetails.tsx
  front/src/components/archive/detail/ArchiveReview.tsx
  front/src/components/archive/detail/ArchiveShortInfo.tsx
  front/src/components/archive/detail/archiveOptionCard/OptionCard.tsx
  front/src/components/archive/detail/index.tsx
  front/src/components/archive/index.tsx
  front/src/components/archive/main/ArchiveCard.tsx
  front/src/components/archive/main/Category.tsx
  front/src/components/archive/main/OptionWrapper.tsx
  front/src/components/archive/main/index.tsx
  front/src/components/myCar/option/OptionCard.tsx
  front/src/pages/Archive/archive.tsx
  front/src/pages/Archive/detail.tsx
  front/src/pages/Archive/index.tsx
  front/src/pages/Archive/main.tsx
  front/src/routes/router.tsx
  front/src/styles/palette.tsx
Labels: feature✨, frontend☀️

#156 [BE] 내 차 만들기 요약보기 API 개발
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/request/esitmation/EstimationChangeRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/request/esitmation/ModifiedRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/estimation/OptionSummaryDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/estimation/SummaryResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/exception/InvalidCategoryException.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/EstimationService.java
  backend/src/main/java/com/backend/topcariving/global/exception/GlobalExceptionHandler.java
  backend/src/test/java/com/backend/topcariving/domain/option/repository/CarOptionRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceTest.java
Labels: backend🍀, feature✨

#157 [BE] Commit 메시지 Json 개행문자 제거
  .github/workflows/backend-deploy.yml
Labels: backend🍀, bugFix🐞

#161 [BE] 카테고리 디테일 변경
  backend/src/main/java/com/backend/topcariving/domain/option/controller/ColorController.java
Labels: backend🍀, bugFix🐞

#162 [BE] 내 차 만들기 결과를 요약보기로 통합
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
Labels: backend🍀, bugFix🐞

#169 [FE] 옵션 선택 api 연동
  front/src/components/myCar/NavBar.tsx
  front/src/components/myCar/option/OptionCard.tsx
  front/src/components/myCar/option/OptionInfoCard.tsx
  front/src/interface/index.tsx
  front/src/pages/MyCar/Option/dummyOp.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/routes/router.tsx
  front/src/utils/api/apiInstance.tsx
Labels: feature✨, frontend☀️

#171 [FE] local & production env 설정
  front/.env
  front/.env.production
  front/package.json
  front/src/utils/api/apiInstance.tsx
  front/vite.config.ts
  front/yarn.lock
Labels: feature✨, frontend☀️

#173 [BE] 내 차 만들기 변경사항 수정
  backend/src/main/java/com/backend/topcariving/domain/archive/controller/ArchiveController.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/request/FeedCopyRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/ColorService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/EstimationService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/OptionService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepository.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryImpl.java
  backend/src/test/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/repository/CarOptionRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/ColorServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryTest.java
Labels: backend🍀, request🐧

#177 [FE] production env 설정
  front/.env
  front/.env.production
Labels: bugFix🐞, frontend☀️

#178 [FE] production env 배포환경 반영
  backend/src/main/java/com/backend/topcariving/domain/archive/controller/ArchiveController.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/request/FeedCopyRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/ColorService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/EstimationService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/OptionService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepository.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryImpl.java
  backend/src/test/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/repository/CarOptionRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/ColorServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryTest.java
  front/.env
  front/.env.production
Labels: deploy

#184 [BE] 북마크 추가 기능 개발
  backend/src/main/java/com/backend/topcariving/domain/archive/controller/ArchiveController.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/repository/BookmarkRepository.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/repository/BookmarkRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/service/BookmarkService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/EstimationService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/OptionService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/main/java/com/backend/topcariving/global/utils/Validator.java
  backend/src/test/java/com/backend/topcariving/domain/bookmark/repository/BookmarkRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/bookmark/service/BookmarkServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceTest.java
  backend/src/test/java/com/backend/topcariving/global/utils/ValidatorTest.java
Labels: backend🍀, feature✨

#181 [BE] 아카이빙 메인화면 및 검색 API 개발
  backend/src/main/java/com/backend/topcariving/domain/archive/controller/ArchiveController.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/response/ArchiveFeedDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/response/ArchiveResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/response/SearchOptionDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/exception/InvalidMyCarIdException.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/archive/service/ArchiveService.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/CategoryDetail.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/CarReviewRepository.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/CarReviewRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepository.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/review/service/CarReviewService.java
  backend/src/main/java/com/backend/topcariving/domain/review/service/TagReviewService.java
  backend/src/main/java/com/backend/topcariving/global/exception/GlobalExceptionHandler.java
  backend/src/main/resources/initDb/data.sql
  backend/src/test/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/archive/service/ArchiveServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/repository/CarOptionRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/review/repository/CarReviewRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryTest.java
Labels: backend🍀, feature✨

#182 [FE] 새로고침, 뒤로가기 시 라우팅 이슈
  front/src/components/myCar/Footer.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/pages/MyCar/index.tsx
  front/src/routes/router.tsx
  front/vercel.json
Labels: bugFix🐞, frontend☀️

#186 [FE] 마이 카이빙 레이아웃 구성
  front/src/assets/images/deleteIcon.svg
  front/src/components/archive/ArchiveHeader.tsx
  front/src/components/archive/ArchiveNavbar.tsx
  front/src/components/archive/myCariving/FeedSaveCard.tsx
  front/src/components/archive/myCariving/MyCarCard.tsx
  front/src/components/archive/myCariving/MyCarList.tsx
  front/src/components/archive/myCariving/index.tsx
  front/src/pages/Archive/detail.tsx
  front/src/pages/Archive/mycariving.tsx
  front/src/routes/router.tsx
Labels: feature✨, frontend☀️

#191 [BE] 피드에서 저장한 차량을 내가 만든 차량으로 복사하는 API 작성
  backend/src/main/java/com/backend/topcariving/domain/archive/controller/ArchiveController.java
  backend/src/main/java/com/backend/topcariving/domain/archive/entity/MyCar.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/archive/service/ArchiveService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/archive/service/ArchiveServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceIntegralTest.java
Labels: backend🍀, feature✨

#193 [FE] 차량 옵션 표시
  front/src/components/common/CarOptionPosition.tsx
Labels: feature✨, frontend☀️

#197 [FE] 내 차 만들기 옵션 & 완성 페이지 API 연결
  front/src/components/common/AlertModal/index.tsx
  front/src/components/myCar/Footer.tsx
  front/src/components/myCar/Header.tsx
  front/src/components/myCar/NavBar.tsx
  front/src/components/myCar/complete/CompleteOptionCard.tsx
  front/src/components/myCar/complete/CompleteOptionInfo.tsx
  front/src/components/myCar/option/DetailOptionModal.tsx
  front/src/components/myCar/option/OptionCard.tsx
  front/src/contexts/MyCarContext.tsx
  front/src/pages/Login/index.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/Complete/index.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/routes/router.tsx
  front/src/utils/api/myCar/index.tsx
Labels: feature✨, frontend☀️

#198 [FE] 로그인 & 모달 UI 수정
  .DS_Store
  front/.DS_Store
  front/.gitignore
  front/src/components/archive/ArchiveNavbar.tsx
  front/src/components/archive/main/ArchiveCard.tsx
  front/src/components/myCar/NavBar.tsx
  front/src/components/myCar/option/OptionModal.tsx
  front/src/pages/Login/index.tsx
Labels: feature✨, frontend☀️

#160 [iOS] 배포용 UI를 포함하는 뷰컨트롤러 작성
  iOS/TopCariving/TopCariving/App/SceneDelegate.swift
  iOS/TopCariving/TopCariving/View/FoldableStackView.swift
  iOS/TopCariving/TopCariving/View/MyCarFooterView.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎, feature✨

#200 [BE] 로그인 구현 - AccessToken 기반 방식
  backend/build.gradle
  backend/src/main/java/com/backend/topcariving/domain/archive/controller/ArchiveController.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/request/BookmarkRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/request/FeedCopyRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/service/ArchiveService.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/service/BookmarkService.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/ColorController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/request/SelectOptionRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/request/SelectOptionsRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/request/esitmation/EstimationChangeRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/EstimationService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/OptionService.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/TrimService.java
  backend/src/main/java/com/backend/topcariving/domain/user/controller/UserController.java
  backend/src/main/java/com/backend/topcariving/domain/user/dto/LoginRequestDTO.java
  backend/src/main/java/com/backend/topcariving/domain/user/entity/AuthInfo.java
  backend/src/main/java/com/backend/topcariving/domain/user/entity/User.java
  backend/src/main/java/com/backend/topcariving/domain/user/exception/UserNotFoundException.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/AuthInfoRepository.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/AuthInfoRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/UserRepository.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/UserRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/user/service/UserService.java
  backend/src/main/java/com/backend/topcariving/global/auth/annotation/Login.java
  backend/src/main/java/com/backend/topcariving/global/auth/dto/TokenDTO.java
  backend/src/main/java/com/backend/topcariving/global/auth/filter/LoginFilter.java
  backend/src/main/java/com/backend/topcariving/global/auth/resolver/LoginArgumentResolver.java
  backend/src/main/java/com/backend/topcariving/global/auth/service/CookieProvider.java
  backend/src/main/java/com/backend/topcariving/global/auth/service/TokenProvider.java
  backend/src/main/java/com/backend/topcariving/global/config/FilterConfig.java
  backend/src/main/java/com/backend/topcariving/global/config/SwaggerConfig.java
  backend/src/main/java/com/backend/topcariving/global/config/WebMvcConfig.java
  backend/src/main/java/com/backend/topcariving/global/exception/InvalidTokenException.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/initDb/schema.sql
  backend/src/test/java/com/backend/topcariving/domain/archive/service/ArchiveServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/bookmark/service/BookmarkServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/TrimServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/user/service/UserServiceTest.java
Labels: backend🍀, feature✨, Swagger🍀

#201 [BE] 도메인이 다를 때 쿠키를 읽을 수 없는 에러 해결
  backend/src/main/java/com/backend/topcariving/domain/user/dto/LoginRequestDTO.java
  backend/src/main/resources/initDb/data.sql
Labels: backend🍀, bugFix🐞

#203 [FE] react hook form 적용
  front/package.json
  front/src/pages/Login/index.tsx
  front/src/utils/api/apiInstance.tsx
  front/src/utils/api/myCar/index.tsx
  front/yarn.lock
Labels: feature✨, frontend☀️

#176 [iOS] 내 차 만들기 옵션 선택 화면
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/App/SceneDelegate.swift
  iOS/TopCariving/TopCariving/Global/String+.swift
  iOS/TopCariving/TopCariving/Global/UIColor+.swift
  iOS/TopCariving/TopCariving/View/CarSummaryContainer.swift
  iOS/TopCariving/TopCariving/View/FoldableView.swift
  iOS/TopCariving/TopCariving/View/OptionCardCell.swift
  iOS/TopCariving/TopCariving/View/OptionDescriptionCell.swift
  iOS/TopCariving/TopCariving/View/OptionDescriptionView.swift
  iOS/TopCariving/TopCariving/View/OptionSelectView.swift
  iOS/TopCariving/TopCariving/View/OptionSnapCarouselView.swift
  iOS/TopCariving/TopCariving/View/TagCell.swift
  iOS/TopCariving/TopCariving/View/TagReviewView.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎, feature✨

#189 [iOS] 색상 선택 UI
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/Global/UIColor+.swift
  iOS/TopCariving/TopCariving/View/ColorCell.swift
  iOS/TopCariving/TopCariving/View/ColorSelectionView.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎, feature✨

#155 [iOS] 내차만들기 옵션선택
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving.xcodeproj/project.xcworkspace/xcuserdata/eunno.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/TopCariving/TopCariving/Assets.xcassets/arrow_down.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/arrow_down.imageset/Frame 4486811.png
  iOS/TopCariving/TopCariving/Assets.xcassets/arrow_down.imageset/Frame 4486811@2x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/arrow_down.imageset/Frame 4486811@3x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/arrow_up.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/arrow_up.imageset/Frame 4486811.png
  iOS/TopCariving/TopCariving/Assets.xcassets/arrow_up.imageset/Frame 4486811@2x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/arrow_up.imageset/Frame 4486811@3x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/baseOptionSample.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/baseOptionSample.imageset/Rectangle 6550.png
  iOS/TopCariving/TopCariving/Assets.xcassets/baseOptionSample.imageset/Rectangle 6550@2x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/baseOptionSample.imageset/Rectangle 6550@3x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/cancelButton.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/cancelButton.imageset/Vector.png
  iOS/TopCariving/TopCariving/Assets.xcassets/cancelButton.imageset/Vector@2x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/cancelButton.imageset/Vector@3x.png
  iOS/TopCariving/TopCariving/Global/CombineGestureEvent.swift
  iOS/TopCariving/TopCariving/Global/UIGestureRecognizer+.swift
  iOS/TopCariving/TopCariving/Global/UIView+.swift
  iOS/TopCariving/TopCariving/Model/BaseOptionSubCategoryModel.swift
  iOS/TopCariving/TopCariving/Model/BaseOptonMainCategoryModel.swift
  iOS/TopCariving/TopCariving/View/BaseOptionMainCategoryView.swift
  iOS/TopCariving/TopCariving/View/BaseOptonSubCategoryCell.swift
  iOS/TopCariving/TopCariving/View/DegreeView.swift
  iOS/TopCariving/TopCariving/View/FoldableStackView.swift
  iOS/TopCariving/TopCariving/View/ModalPresentationController.swift
  iOS/TopCariving/TopCariving/View/RotatableOptionImageView.swift
  iOS/TopCariving/TopCariving/View/SubCategoryModalViewController.swift
  iOS/TopCariving/TopCariving/View/ToastView.swift
  iOS/TopCariving/TopCariving/ViewController/IncludedBaseItemModalViewController.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎, feature✨

#205 [BE] CORS 오류 해결
  backend/src/main/java/com/backend/topcariving/global/auth/filter/CorsFilter.java
  backend/src/main/java/com/backend/topcariving/global/config/FilterConfig.java
  backend/src/main/java/com/backend/topcariving/global/config/WebMvcConfig.java
Labels: backend🍀, bugFix🐞

#207 [FE] 차량 360도 회전 세부 디테일
  front/src/assets/images/rotationHorizontal.svg
  front/src/components/common/AlertModal/index.tsx
  front/src/components/common/CarModel.tsx
  front/src/components/myCar/option/DetailOptionModal.tsx
  front/src/components/myCar/option/DimInfo.tsx
  front/src/components/myCar/option/OptionModal.tsx
Labels: feature✨, frontend☀️

#208 [BE] 토큰 임시로 바디로 반환하게 변경
  backend/src/main/java/com/backend/topcariving/domain/option/controller/ColorController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/OptionController.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/TrimController.java
  backend/src/main/java/com/backend/topcariving/domain/user/controller/UserController.java
  backend/src/main/java/com/backend/topcariving/domain/user/dto/LoginRequestDTO.java
  backend/src/main/java/com/backend/topcariving/global/config/SwaggerConfig.java
Labels: backend🍀, bugFix🐞

#209 [FE] 내 차 만들기 로그인 외 에러 처리
  front/.env.local
  front/.gitignore
  front/src/components/myCar/NavBar.tsx
  front/src/components/myCar/complete/CompleteOptionInfo.tsx
  front/src/pages/Login/index.tsx
  front/src/routes/router.tsx
Labels: bugFix🐞, frontend☀️

#212 [BE] Jasypt Github action 추가
  .github/workflows/backend-build-test.yml
  .github/workflows/backend-deploy.yml
Labels: backend🍀, bugFix🐞

#213 [FE] 로그인 api 연동 w/JWT Token
  front/src/components/myCar/Footer.tsx
  front/src/pages/Login/index.tsx
  front/src/utils/api/apiInstance.tsx
Labels: feature✨, frontend☀️

#210 [BE] Oauth 로직 작성
  backend/build.gradle
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
  backend/src/main/java/com/backend/topcariving/domain/user/controller/UserController.java
  backend/src/main/java/com/backend/topcariving/domain/user/entity/AuthInfo.java
  backend/src/main/java/com/backend/topcariving/domain/user/entity/LoginType.java
  backend/src/main/java/com/backend/topcariving/domain/user/entity/Oauth.java
  backend/src/main/java/com/backend/topcariving/domain/user/exception/UserException.java
  backend/src/main/java/com/backend/topcariving/domain/user/exception/UserNotFoundException.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/AuthInfoRepository.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/AuthInfoRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/OauthRepository.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/OauthRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/user/service/UserService.java
  backend/src/main/java/com/backend/topcariving/global/auth/dto/OauthInfoDTO.java
  backend/src/main/java/com/backend/topcariving/global/auth/dto/OauthLoginDTO.java
  backend/src/main/java/com/backend/topcariving/global/auth/service/OAuthService.java
  backend/src/main/java/com/backend/topcariving/global/config/JasyptConfig.java
  backend/src/main/java/com/backend/topcariving/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/backend/topcariving/global/exception/InvalidOauthException.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/initDb/schema.sql
  backend/src/test/java/com/backend/topcariving/domain/user/service/UserServiceTest.java
Labels: backend🍀, feature✨

#211 [iOS] Alert View 구현
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/Global/NSAttributedString+.swift
  iOS/TopCariving/TopCariving/Global/UIColor+.swift
  iOS/TopCariving/TopCariving/Global/UIViewController+.swift
  iOS/TopCariving/TopCariving/ViewController/TCAlertViewController.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎, feature✨

#206 [iOS] 견적 요약 보기 UI
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/View/ColorImageLabel.swift
  iOS/TopCariving/TopCariving/View/SummaryCell.swift
  iOS/TopCariving/TopCariving/View/SummaryColorCell.swift
  iOS/TopCariving/TopCariving/View/SummaryHeaderView.swift
  iOS/TopCariving/TopCariving/ViewController/SummaryViewController.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎, feature✨

#216 [BE] 성능 개선을 위한 쿼리문 수정
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/CarReviewRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/OauthRepositoryImpl.java
Labels: backend🍀, refactor♻️

#218 fix: 토큰 세션 스토리지 저장
  front/src/pages/Login/index.tsx
  front/src/utils/api/apiInstance.tsx
Labels: bugFix🐞, frontend☀️

#221 [BE] PositionDTO 응답 시 옵션 이름도 응답하도록 수정
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/response/PositionDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/service/ArchiveService.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/PositionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/PositionRepositoryImpl.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/backend/topcariving/domain/option/repository/PositionRepositoryTest.java
Labels: backend🍀, request🐧

#222 feat: oauth 로그인 구현
  front/src/pages/Login/index.tsx
  front/src/pages/Login/oauthRedirect.tsx
  front/src/routes/router.tsx
Labels: feature✨, frontend☀️

#223 [deploy] 메인 브랜치 머지
  backend/build.gradle
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/response/PositionDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/service/ArchiveService.java
  backend/src/main/java/com/backend/topcariving/domain/option/controller/EstimationController.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/PositionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/PositionRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/CarReviewRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TagReviewRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/user/controller/UserController.java
  backend/src/main/java/com/backend/topcariving/domain/user/entity/AuthInfo.java
  backend/src/main/java/com/backend/topcariving/domain/user/entity/LoginType.java
  backend/src/main/java/com/backend/topcariving/domain/user/entity/Oauth.java
  backend/src/main/java/com/backend/topcariving/domain/user/exception/UserException.java
  backend/src/main/java/com/backend/topcariving/domain/user/exception/UserNotFoundException.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/AuthInfoRepository.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/AuthInfoRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/OauthRepository.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/OauthRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/user/service/UserService.java
  backend/src/main/java/com/backend/topcariving/global/auth/dto/OauthInfoDTO.java
  backend/src/main/java/com/backend/topcariving/global/auth/dto/OauthLoginDTO.java
  backend/src/main/java/com/backend/topcariving/global/auth/service/OAuthService.java
  backend/src/main/java/com/backend/topcariving/global/config/JasyptConfig.java
  backend/src/main/java/com/backend/topcariving/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/backend/topcariving/global/exception/InvalidOauthException.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/initDb/schema.sql
  backend/src/test/java/com/backend/topcariving/domain/option/repository/PositionRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/user/service/UserServiceTest.java
  front/src/pages/Login/index.tsx
  front/src/pages/Login/oauthRedirect.tsx
  front/src/routes/router.tsx
  front/src/utils/api/apiInstance.tsx
Labels: deploy

#224 [BE] redirect_uri 수정
  backend/src/main/java/com/backend/topcariving/global/auth/service/OAuthService.java
Labels: backend🍀, bugFix🐞

#225 [FE] OAuth 시 토큰 받아오는 오류
  front/src/pages/Login/oauthRedirect.tsx
Labels: bugFix🐞, feature✨

#226 [deploy] 메인 브랜치 머지
  backend/src/main/java/com/backend/topcariving/global/auth/service/OAuthService.java
  front/src/pages/Login/oauthRedirect.tsx
Labels: deploy

#231 [BE] 로그아웃 기능 구현
  backend/src/main/java/com/backend/topcariving/domain/user/controller/UserController.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/OauthRepository.java
  backend/src/main/java/com/backend/topcariving/domain/user/repository/OauthRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/global/auth/service/OAuthService.java
Labels: backend🍀, feature✨

#233 [BE] 마이카이빙에 들어있는 차량 삭제 및 되돌리기 API 개발
  backend/src/main/java/com/backend/topcariving/domain/archive/controller/ArchiveController.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/archive/service/ArchiveService.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/repository/BookmarkRepository.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/repository/BookmarkRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/bookmark/service/BookmarkService.java
  backend/src/main/java/com/backend/topcariving/global/utils/Validator.java
  backend/src/main/resources/initDb/data.sql
  backend/src/test/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/archive/service/ArchiveServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/bookmark/repository/BookmarkRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/bookmark/service/BookmarkServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/global/utils/ValidatorTest.java
Labels: backend🍀, feature✨

#234 [BE] 마이카이빙 메인화면 API 개발
  backend/src/main/java/com/backend/topcariving/domain/archive/controller/ArchiveController.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/CarDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/TotalReviewDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/response/ArchiveFeedDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/response/CreatedCarDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/dto/response/PictureSelectedOptionDTO.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarDTORowMapper.java
  backend/src/main/java/com/backend/topcariving/domain/archive/service/ArchiveService.java
  backend/src/main/java/com/backend/topcariving/domain/option/entity/CategoryDetail.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/EngineDetailRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/CarReviewRepository.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/CarReviewRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/TotalReviewRowMapper.java
  backend/src/main/java/com/backend/topcariving/domain/user/controller/UserController.java
  backend/src/main/resources/initDb/data.sql
  backend/src/test/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/archive/service/ArchiveServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/review/repository/CarReviewRepositoryTest.java
Labels: backend🍀, feature✨

#235 [FE] 아카이빙 페이지 API 연결
  front/src/components/archive/detail/ArchiveOptionDetails.tsx
  front/src/components/archive/detail/ArchiveReview.tsx
  front/src/components/archive/detail/ArchiveShortInfo.tsx
  front/src/components/archive/detail/archiveOptionCard/OptionCard.tsx
  front/src/components/archive/main/ArchiveCard.tsx
  front/src/components/archive/main/Category.tsx
  front/src/components/archive/main/OptionWrapper.tsx
  front/src/components/archive/myCariving/MyCarCard.tsx
  front/src/pages/Archive/detail.tsx
  front/src/pages/Archive/main.tsx
  front/src/pages/Login/index.tsx
  front/src/routes/router.tsx
  front/src/utils/api/apiInstance.tsx
  front/src/utils/api/myCar/index.tsx
  front/src/utils/getDate.tsx
  front/src/utils/index.tsx
Labels: feature✨, frontend☀️

#247 [BE] 아카이빙 메인화면 페이징 처리
  backend/src/main/java/com/backend/topcariving/domain/archive/controller/ArchiveController.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepository.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/CarDTORowMapper.java
  backend/src/main/java/com/backend/topcariving/domain/archive/service/ArchiveService.java
  backend/src/main/java/com/backend/topcariving/domain/review/repository/CarReviewRepositoryImpl.java
  backend/src/main/resources/initDb/data.sql
  backend/src/test/java/com/backend/topcariving/domain/archive/repository/CarArchivingRepositoryTest.java
  backend/src/test/java/com/backend/topcariving/domain/archive/service/ArchiveServiceIntegralTest.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/OptionServiceIntegralTest.java
Labels: backend🍀, bugFix🐞, feature✨

#246 [BE] 내 차 만들기 완성에서 세부항목도 주기
  backend/src/main/java/com/backend/topcariving/domain/archive/repository/MyCarRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/option/dto/response/estimation/OptionSummaryDTO.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/option/repository/CarOptionRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/option/service/EstimationService.java
  backend/src/test/java/com/backend/topcariving/domain/option/service/EstimationServiceIntegralTest.java
Labels: backend🍀, request🐧

#252 [BE] Batch insert가 되지 않는 오류 수정
  backend/src/main/java/com/backend/topcariving/domain/archive/service/ArchiveService.java
Labels: backend🍀, bugFix🐞

#244 [FE] 내 차 만들기 애니메이션 추가
  front/src/components/archive/detail/ArchiveReview.tsx
  front/src/components/archive/detail/archiveOptionCard/OptionCard.tsx
  front/src/components/archive/myCariving/MyCarCard.tsx
  front/src/components/common/Button.tsx
  front/src/components/common/CarModel.tsx
  front/src/components/myCar/Header.tsx
  front/src/components/myCar/complete/CompleteOptionCard.tsx
  front/src/components/myCar/complete/CompletedMessage.tsx
  front/src/components/myCar/option/OptionCard.tsx
  front/src/components/myCar/option/OptionInfoCard.tsx
  front/src/components/myCar/option/OptionModal.tsx
  front/src/components/myCar/trim/BodyCard.tsx
  front/src/components/myCar/trim/EngineCard.tsx
  front/src/components/myCar/trim/TrimCard.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/pages/MyCar/Trim/Engine.tsx
Labels: feature✨, frontend☀️

#250 [FE] 내가 만든 차량 목록 조회 및 삭제 구현
  front/src/components/archive/myCariving/MyCarCard.tsx
  front/src/components/archive/myCariving/MyCarList.tsx
  front/src/index.css
  front/src/pages/Archive/mycariving.tsx
  front/src/routes/router.tsx
  front/src/utils/api/myCar/index.tsx
Labels: feature✨, frontend☀️

#249 [FE] 아카이브 유도 팝업
  front/src/assets/images/popup.svg
  front/src/components/common/ArchivePopup.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/pages/MyCar/Trim/BodyType.tsx
  front/src/pages/MyCar/Trim/Engine.tsx
  front/src/pages/MyCar/Trim/Traction.tsx
Labels: feature✨, frontend☀️

#254 [FE] 아카이빙 페이지 북마크 추가/삭제 API & 내 차 만들기 복사 API 연결
  front/src/App.tsx
  front/src/components/archive/detail/ArchiveOptionDetails.tsx
  front/src/components/archive/detail/ArchiveShortInfo.tsx
  front/src/components/archive/myCariving/FeedSaveCard.tsx
  front/src/components/common/Toast.tsx
  front/src/contexts/ToastContext.tsx
  front/src/pages/Archive/detail.tsx
  front/src/pages/Archive/main.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/pages/MyCar/Trim/index.tsx
  front/src/routes/router.tsx
  front/src/utils/api/apiInstance.tsx
  front/src/utils/api/myCar/index.tsx
  front/src/utils/getCarInfo.tsx
Labels: feature✨, frontend☀️

#257 [FE] 마이카이빙에있는 차량 삭제시 되돌리기
  front/src/assets/images/revertIcon.svg
  front/src/components/archive/myCariving/MyCarCard.tsx
  front/src/components/archive/myCariving/MyCarList.tsx
  front/src/pages/Archive/mycariving.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/routes/router.tsx
  front/src/utils/api/myCar/index.tsx
Labels: feature✨, frontend☀️

#260 [BE] OptionController package import 추가
  backend/src/main/java/com/backend/topcariving/domain/controller/option/OptionController.java
Labels: backend🍀, bugFix🐞

#245 [iOS] 2.0 배포와 변경사항
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/Assets.xcassets/CheckFill.imageset/CheckFill 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/CheckFill.imageset/CheckFill 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/CheckFill.imageset/CheckFill.png
  iOS/TopCariving/TopCariving/Assets.xcassets/CheckFill.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressTrim.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ProgressTrim.imageset/ProgressTrim.png
  iOS/TopCariving/TopCariving/InfraStructure/MockImageService.swift
  iOS/TopCariving/TopCariving/View/BaseOptonSubCategoryCell.swift
  iOS/TopCariving/TopCariving/View/CarSummaryContainer.swift
  iOS/TopCariving/TopCariving/View/ColorCell.swift
  iOS/TopCariving/TopCariving/View/ColorImageLabel.swift
  iOS/TopCariving/TopCariving/View/ColorSelectionView.swift
  iOS/TopCariving/TopCariving/View/MyCarFooterView.swift
  iOS/TopCariving/TopCariving/View/OptionCardCell.swift
  iOS/TopCariving/TopCariving/View/OptionDescriptionCell.swift
  iOS/TopCariving/TopCariving/View/OptionDescriptionView.swift
  iOS/TopCariving/TopCariving/View/OptionSelectView.swift
  iOS/TopCariving/TopCariving/View/OptionSnapCarouselView.swift
  iOS/TopCariving/TopCariving/View/ProgressView.swift
  iOS/TopCariving/TopCariving/View/RotatableOptionImageView.swift
  iOS/TopCariving/TopCariving/View/SubCategoryModalViewController.swift
  iOS/TopCariving/TopCariving/View/TagReviewView.swift
  iOS/TopCariving/TopCariving/ViewController/BaseMyCarViewController.swift
  iOS/TopCariving/TopCariving/ViewController/ColorSectionViewController.swift
  iOS/TopCariving/TopCariving/ViewController/IncludedBaseItemModalViewController.swift
  iOS/TopCariving/TopCariving/ViewController/InteriorColorSelctionViewController.swift
  iOS/TopCariving/TopCariving/ViewController/SelectOptionViewController.swift
  iOS/TopCariving/TopCariving/ViewController/SummaryViewController.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎, feature✨

#261 [FE] 로그아웃 API 연결
  front/src/components/ErrorBoundary.tsx
  front/src/components/archive/ArchiveHeader.tsx
  front/src/components/common/LogoutButton.tsx
  front/src/components/myCar/Header.tsx
  front/src/components/myCar/trim/TrimCard.tsx
  front/src/pages/Archive/index.tsx
  front/src/pages/MyCar/Complete/index.tsx
  front/src/pages/MyCar/index.tsx
  front/src/utils/api/apiInstance.tsx
  front/src/utils/api/myCar/index.tsx
Labels: feature✨, frontend☀️

#265 [BE] 로그인 저장 오류 수정
  backend/src/main/java/com/backend/topcariving/domain/service/user/UserService.java
  backend/src/main/java/com/backend/topcariving/global/auth/service/OAuthService.java
Labels: backend🍀, bugFix🐞

#269 [FE] Masonry 레이아웃 구현
  front/src/components/archive/ArchiveHeader.tsx
  front/src/components/archive/main/ArchiveCard.tsx
  front/src/components/archive/myCariving/MyCarList.tsx
  front/src/components/common/Masonry.tsx
  front/src/components/common/index.tsx
  front/src/pages/Archive/index.tsx
  front/src/pages/Archive/main.tsx
  front/src/pages/Archive/mycariving.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/utils/api/myCar/index.tsx
Labels: feature✨, frontend☀️

#267 [FE] 상세 페이지 API 연결
  front/src/components/archive/detail/ArchiveOptionDetails.tsx
  front/src/components/archive/detail/ArchiveReview.tsx
  front/src/components/archive/detail/archiveOptionCard/OptionCard.tsx
  front/src/components/common/CarOptionPosition.tsx
  front/src/pages/Archive/detail.tsx
Labels: feature✨, frontend☀️

#258 [iOS] 내차 만들기 완성
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving.xcodeproj/project.xcworkspace/xcuserdata/eunno.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/TopCariving/TopCariving/App/SceneDelegate.swift
  iOS/TopCariving/TopCariving/Assets.xcassets/ChoicedOptionItem.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/ChoicedOptionItem.imageset/Mask group.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ChoicedOptionItem.imageset/Mask group@2x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/ChoicedOptionItem.imageset/Mask group@3x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/Keyboard_arrow_right.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/Keyboard_arrow_right.imageset/Keyboard arrow right.png
  iOS/TopCariving/TopCariving/Assets.xcassets/Keyboard_arrow_right.imageset/Keyboard arrow right@2x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/Keyboard_arrow_right.imageset/Keyboard arrow right@3x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/edit_brown.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/edit_brown.imageset/edit.png
  iOS/TopCariving/TopCariving/Assets.xcassets/edit_brown.imageset/edit@2x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/edit_brown.imageset/edit@3x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/edit_gray.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/edit_gray.imageset/编组 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/edit_gray.imageset/编组 2@2x.png
  iOS/TopCariving/TopCariving/Assets.xcassets/edit_gray.imageset/编组 2@3x.png
  iOS/TopCariving/TopCariving/Global/CGRect+.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/AnotherProcedureView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/ChangeOptionButtonView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/ColorDescriptionView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/ConsultingView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/FeatureSummaryContainerView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/MyCarChoicedOptionItemView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/MyCarChoicedOptionView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/MyCarFeatureView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/TicketBackgroundView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/TicketView.swift
  iOS/TopCariving/TopCariving/View/MyCarFooterView.swift
  iOS/TopCariving/TopCariving/ViewController/MyCarCompletionViewController.swift
Labels: iOS🍎, feature✨

#275 [BE] Session DB 추가
  backend/build.gradle
  backend/src/main/java/com/backend/topcariving/domain/entity/user/User.java
  backend/src/main/java/com/backend/topcariving/domain/repository/user/UserRepository.java
  backend/src/main/java/com/backend/topcariving/domain/repository/user/UserRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/service/user/UserService.java
  backend/src/main/java/com/backend/topcariving/global/auth/entity/AuthInfo.java
  backend/src/main/java/com/backend/topcariving/global/auth/repository/AuthInfoRepository.java
  backend/src/main/java/com/backend/topcariving/global/auth/repository/implement/AuthInfoRedisRepository.java
  backend/src/main/java/com/backend/topcariving/global/auth/repository/implement/AuthInfoRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/global/auth/service/OAuthService.java
  backend/src/main/java/com/backend/topcariving/global/auth/service/TokenProvider.java
  backend/src/main/java/com/backend/topcariving/global/config/RedisConfig.java
  backend/src/main/resources/application-deploy.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/initDb/data.sql
  backend/src/main/resources/initDb/schema.sql
  backend/src/test/java/com/backend/topcariving/domain/user/service/UserServiceTest.java
  backend/src/test/resources/application.yml
Labels: backend🍀, feature✨

#277 [iOS] 아카이빙_상세페이지 상단 티켓뷰 개발
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving.xcodeproj/project.xcworkspace/xcuserdata/eunno.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/TopCariving/TopCariving/View/CarImagePointView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/ConsultingView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/FeatureSummaryContainerView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/MyCarFeatureView.swift
  iOS/TopCariving/TopCariving/View/MyCarComplete/TicketBackgroundView.swift
  iOS/TopCariving/TopCariving/View/MyCarivingCarSummaryView.swift
  iOS/TopCariving/TopCariving/ViewController/DummyViewController.swift
  iOS/TopCariving/TopCariving/ViewController/MyCarCompletionViewController.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
Labels: iOS🍎, feature✨

#278 [iOS] 로그인 UI
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/App/SceneDelegate.swift
  iOS/TopCariving/TopCariving/Assets.xcassets/hyundaiLogo.imageset/Contents.json
  iOS/TopCariving/TopCariving/Assets.xcassets/hyundaiLogo.imageset/hyundaiLogo 1.png
  iOS/TopCariving/TopCariving/Assets.xcassets/hyundaiLogo.imageset/hyundaiLogo 2.png
  iOS/TopCariving/TopCariving/Assets.xcassets/hyundaiLogo.imageset/hyundaiLogo.png
  iOS/TopCariving/TopCariving/ViewController/LoginViewController.swift
Labels: iOS🍎, feature✨

#274 [FE] 마이카이빙 피드에서 저장한 차량 목록 api 연결
  front/src/components/archive/ArchiveNavbar.tsx
  front/src/components/archive/detail/ArchiveReview.tsx
  front/src/components/archive/detail/ArchiveShortInfo.tsx
  front/src/components/archive/main/ArchiveCard.tsx
  front/src/components/archive/myCariving/FeedSaveCard.tsx
  front/src/components/archive/myCariving/MyCarCard.tsx
  front/src/components/archive/myCariving/MyCarList.tsx
  front/src/components/archive/myCariving/index.tsx
  front/src/components/common/Toast.tsx
  front/src/pages/Archive/main.tsx
  front/src/utils/api/myCar/index.tsx
Labels: feature✨, frontend☀️

#279 [BE] User 정보가 없을 때 404로 응답
  backend/src/main/java/com/backend/topcariving/global/exception/ExceptionStatus.java
  backend/src/main/java/com/backend/topcariving/global/exception/GlobalExceptionHandler.java
Labels: backend🍀, request🐧

#280 [FE] 로드 컴포넌트 & Suspense
  front/src/components/common/Loading.tsx
  front/src/hooks/index.tsx
  front/src/hooks/useSuspenseFetch.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/index.tsx
  front/src/routes/router.tsx
  front/tsconfig.json
  front/vite.config.ts
Labels: feature✨, frontend☀️

#282 [FE] 아카이브 유도 팝업 position 설정
  front/src/assets/images/popup.svg
  front/src/components/common/ArchivePopup.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/pages/MyCar/Trim/BodyType.tsx
  front/src/pages/MyCar/Trim/Engine.tsx
  front/src/pages/MyCar/Trim/Traction.tsx
Labels: feature✨, frontend☀️

#286 [FE] 마이카이빙 내가 만든 차량 목록 삭제 이슈
  front/src/components/archive/myCariving/MyCarCard.tsx
  front/src/components/archive/myCariving/MyCarList.tsx
  front/src/utils/api/myCar/index.tsx
Labels: bugFix🐞, frontend☀️

#288 [BE] 응답 시 차량 전체 이미지 전달
  backend/src/main/java/com/backend/topcariving/domain/controller/user/UserController.java
  backend/src/main/java/com/backend/topcariving/domain/dto/archive/response/ArchiveDetailResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/dto/option/response/estimation/SummaryResponseDTO.java
  backend/src/main/java/com/backend/topcariving/domain/entity/option/enums/ExteriorColor.java
  backend/src/main/java/com/backend/topcariving/domain/repository/option/CarOptionRepository.java
  backend/src/main/java/com/backend/topcariving/domain/repository/option/implement/CarOptionRepositoryImpl.java
  backend/src/main/java/com/backend/topcariving/domain/service/archive/ArchiveService.java
  backend/src/main/java/com/backend/topcariving/domain/service/option/EstimationService.java
Labels: backend🍀, request🐧

#298 [BE] 옵션 하위항목 응답 시 사진 정보 전달
  backend/src/main/java/com/backend/topcariving/domain/dto/option/response/selection/SelectionDetailDTO.java
Labels: backend🍀, bugFix🐞

#299 [BE] 무중단 배포 설정
  .github/workflows/backend-deploy.yml
  backend/build.gradle
  backend/src/main/resources/application.yml
Labels: backend🍀, deploy

#300 [BE] Github action 수정
  .github/workflows/backend-deploy.yml
Labels: backend🍀, bugFix🐞

#302 [BE] ssh tunneling 오류 변경
  .github/workflows/backend-deploy.yml
Labels: backend🍀, bugFix🐞

#295 [FE] 마이카이빙의 내가 만든 차량 목록에서 모델명 동기화
  front/src/components/archive/myCariving/MyCarCard.tsx
Labels: feature✨, frontend☀️

#296 [FE] 아카이빙 후기 복사 시 가격 정보 전역상태 반영
  front/src/components/archive/main/ArchiveCard.tsx
  front/src/pages/Archive/detail.tsx
  front/src/pages/Archive/main.tsx
  front/src/utils/getCarInfo.tsx
Labels: feature✨, frontend☀️

#305 [FE] 하위옵션 이미지 반영
  front/src/components/myCar/complete/CompleteOptionCard.tsx
  front/src/components/myCar/complete/CompleteOptionInfo.tsx
  front/src/hooks/useSuspenseFetch.tsx
  front/src/pages/MyCar/Complete/index.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/routes/router.tsx
Labels: feature✨, frontend☀️

#304 [FE] masonry 레이아웃 깨짐
  front/src/components/archive/ArchiveHeader.tsx
  front/src/components/archive/detail/ArchiveOptionDetails.tsx
  front/src/components/archive/detail/ArchiveShortInfo.tsx
  front/src/components/archive/detail/archiveOptionCard/OptionCard.tsx
  front/src/components/archive/myCariving/MyCarList.tsx
  front/src/components/common/Toast.tsx
  front/src/components/myCar/Header.tsx
  front/src/pages/Archive/main.tsx
Labels: bugFix🐞, frontend☀️

#266 [iOS] 트림 선택 UI
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/View/EngineSelectionContainer.swift
  iOS/TopCariving/TopCariving/View/FoldableStackView.swift
  iOS/TopCariving/TopCariving/View/FoldableView.swift
  iOS/TopCariving/TopCariving/View/TrimReviewedView.swift
  iOS/TopCariving/TopCariving/View/TrimSelectionContainer.swift
  iOS/TopCariving/TopCariving/ViewController/TrimSelectionViewController.swift
Labels: iOS🍎, feature✨

#309 [BE] 트림을 세분화가아닌 하나로 묶어서 넘겨주도록 API 수정
  backend/src/main/java/com/backend/topcariving/domain/service/archive/ArchiveService.java
Labels: backend🍀, request🐧

#306 [iOS] 내 차 만들기 트림 선택 API 연결
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving/App/SceneDelegate.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Request/EstimationChangeRequestDTO.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Request/SelectOptionRequestDTO.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/ModelPhotoResponseDTO.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/ModelResponseDTO+Mapping.swift
  iOS/TopCariving/TopCariving/Data/Network/DataMapping/Response/SuccessResponseLongDTO+Mapping.swift
  iOS/TopCariving/TopCariving/InfraStructure/Network/EndPoint.swift
  iOS/TopCariving/TopCariving/InfraStructure/Network/HTTPClient.swift
  iOS/TopCariving/TopCariving/InfraStructure/Network/RequestError.swift
  iOS/TopCariving/TopCariving/InfraStructure/Network/TrimEndPoint.swift
  iOS/TopCariving/TopCariving/View/CarSummaryContainer.swift
  iOS/TopCariving/TopCariving/ViewController/ViewController.swift
  iOS/TopCariving/TopCariving/ViewModel/ModelOptionViewModel.swift
Labels: iOS🍎, feature✨

#310 [FE] API 키 값 변경 반영
  front/src/components/archive/ArchiveHeader.tsx
  front/src/components/archive/detail/ArchiveOptionDetails.tsx
  front/src/components/archive/detail/ArchiveReview.tsx
  front/src/components/archive/detail/ArchiveShortInfo.tsx
  front/src/components/archive/main/ArchiveCard.tsx
  front/src/components/archive/myCariving/MyCarCard.tsx
  front/src/components/common/ArchivePopup.tsx
  front/src/components/myCar/Header.tsx
  front/src/components/myCar/complete/CompletedMessage.tsx
  front/src/components/myCar/complete/Information.tsx
  front/src/components/myCar/option/DetailOptionModal.tsx
  front/src/pages/Archive/main.tsx
Labels: feature✨, frontend☀️

#294 [iOS] KeyChain, emailLogin개발
  iOS/TopCariving/TopCariving.xcodeproj/project.pbxproj
  iOS/TopCariving/TopCariving.xcodeproj/project.xcworkspace/xcuserdata/eunno.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/TopCariving/TopCariving/App/SceneDelegate.swift
  iOS/TopCariving/TopCariving/Global/KeyChain.swift
  iOS/TopCariving/TopCariving/InfraStructure/LoginService.swift
  iOS/TopCariving/TopCariving/ViewController/IncludedBaseItemModalViewController.swift
  iOS/TopCariving/TopCariving/ViewController/LoginViewController.swift
  iOS/TopCariving/TopCariving/ViewModel/LoginViewModel.swift
Labels: iOS🍎, feature✨

#315 [FE] 색상선택 컴포넌트 랜더링과 서버호출 줄이기
  front/src/components/common/CarModel.tsx
  front/src/components/common/Loading/Loader.tsx
  front/src/components/common/Loading/OptionLoader.tsx
  front/src/components/myCar/option/OptionInfoCard.tsx
  front/src/hooks/useSuspenseFetch.tsx
  front/src/interface/index.tsx
  front/src/pages/MyCar/Color/index.tsx
  front/src/pages/MyCar/Complete/index.tsx
  front/src/pages/MyCar/Option/index.tsx
  front/src/pages/MyCar/index.tsx
Labels: feature✨, frontend☀️

#314 [BE] 속도 향상을 위한 리팩토링
  backend/src/main/java/com/backend/topcariving/domain/entity/option/enums/ExteriorColor.java
  backend/src/main/java/com/backend/topcariving/domain/repository/archive/implement/MyCarRepositoryImpl.java
  backend/src/main/resources/application-deploy.yml
  backend/src/main/resources/initDb/schema.sql
Labels: backend🍀, refactor♻️
